.grad {
    background: #E0E0DD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, lightblue , #dff7d4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, lightblue, #dff7d4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, lightblue, #dff7d4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, lightblue , #dff7d4)/* Standard syntax */
}
body{
    background-color: #314be0 !important;
}
.header-padding{
    padding-top: 100px;
    padding-bottom: 40px;
}
.around{
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}
.padding-cross{
    padding-top: 20px;
}
.white{
    color:whitesmoke;
}